{% extends 'base.html.twig' %}

{% block body %}

    <!-- BEGIN ROW -->
    <div class="row">

        <!-- BEGIN COLUMN S2 -->
        <div class="col s2">
        </div>
        <!-- END COLUMN S2 -->

        <!-- BEGIN COLUMN S8 -->
        <div class="col s8">
            {% if error %}
                <div id="card-alert" class="card red lighten-5">
                    <div class="card-content red-text">
                        <p>DANGER : {{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    </div>
                </div>
            {% endif %}

            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Connexion</h4>
                <p class="left-align light">
                    <form action="{{ path('login') }}" method="post">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" />

                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}

                        <button type="submit">login</button>
                    </form>
                </p>
            </div>
        </div>

        <!-- BEGIN COLUMN S2 -->
        <div class="col s2">
        </div>
        <!-- END COLUMN S2 -->

    </div>



{% endblock %}