{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/about.css') }}">
{% endblock %}

{% block body %}

    <br>

    <div class="row">

        <div class="col s4">
        </div>

        <div class="col s4">

            <div class="picture center">
                <img class="circle responsive-img" src="images/projects/Wood-Designer_visuel-generique2.jpg">
                <br>
                <h2>A propos de moi</h2>
            </div>

        </div>

        <div class="col s4">
        </div>

    </div>


    <div class="row">

        <div class="col s2">
        </div>

        <div class="col s4">

            <div class="text center">
                <p>Lorem ipsum dolor sit amet, id atqui salutatus pri. Nec ei solum deserunt. Est ad facilisis cotidieque, ad everti molestiae has. Et postea laoreet vel, qui ex vivendo dolores posidonium. Te duo modo senserit neglegentur. No nullam dolores cotidieque sit.

                    Pertinacia dissentiunt suscipiantur et mel, in his inimicus eloquentiam. No mei error omnes denique, ex sea iisque eleifend. Has aliquando incorrupte eloquentiam et, his audire malorum in, no rebum efficiantur pro. Id augue zril voluptua eum. Ut debitis dignissim eum.</p>
            </div>

        </div>

        <div class="col s4">

            <div class="text center">
                <p>Lorem ipsum dolor sit amet, id atqui salutatus pri. Nec ei solum deserunt. Est ad facilisis cotidieque, ad everti molestiae has. Et postea laoreet vel, qui ex vivendo dolores posidonium. Te duo modo senserit neglegentur. No nullam dolores cotidieque sit.

                    Pertinacia dissentiunt suscipiantur et mel, in his inimicus eloquentiam. No mei error omnes denique, ex sea iisque eleifend. Has aliquando incorrupte eloquentiam et, his audire malorum in, no rebum efficiantur pro. Id augue zril voluptua eum. Ut debitis dignissim eum.</p>
            </div>

        </div>

        <div class="col s2">
        </div>

    </div>

    <br>

    <div class="row">

        <div class="col s2">
        </div>

        <div class="col s8">

            <div class="skill-bar center">
                <h1>jQuery & CSS3 Skills Bar</h1>

                <br>

                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title" style="background: #46465e;"><span>PHP</span></div>
                    <div class="skillbar-bar" style="background: #5a68a5;"></div>
                    <div class="skill-bar-percent">90%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="85%">
                    <div class="skillbar-title" style="background: #124e8c;"><span>SQL</span></div>
                    <div class="skillbar-bar" style="background: #4288d0;"></div>
                    <div class="skill-bar-percent">85%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: #333333;"><span>Python</span></div>
                    <div class="skillbar-bar" style="background: #525252;"></div>
                    <div class="skill-bar-percent">80%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: #cc1439;"><span>Java</span></div>
                    <div class="skillbar-bar" style="background: #cc1439;"></div>
                    <div class="skill-bar-percent">80%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="65%">
                    <div class="skillbar-title" style="background: #2c3e50;"><span>jQuery</span></div>
                    <div class="skillbar-bar" style="background: #2c3e50;"></div>
                    <div class="skill-bar-percent">65%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                    <div class="skill-bar-percent">75%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                    <div class="skill-bar-percent">60%</div>
                </div> <!-- End Skill Bar -->

            </div>

        </div>

        <div class="col s2">
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/about.js') }}"></script>
{% endblock %}
    
