{% extends 'base.html.twig' %}

{% block body %}

    <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact</h4>
        <p class="left-align light">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button>Envoyer</button>
            {{ form_end(form) }}
        </p>
    </div>

{% endblock %}